<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System

    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <style>
.error {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student management</a>
                <a class="nav-link" th:href="@{/organizations}">Companies</a>
            </li>

        </ul>
    </div>
</nav>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create new organization</h1>
            <div class="card-body"> </div>
            <form th:action="@{/organizations}" th:object="${organization}" method="POST" enctype="multipart/form-data">
                <div class="form-group">

                    <label> Organization name</label>
                    <input type="text" name="orgName"
                           class="form-control"

                           th:field="*{orgName}" placeholder="Enter organization name"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('orgName')}" th:errors="*{orgName}"></div>
                </div>

                <div class="form-group">
                    <label> Organization description</label>
                    <input type="text" name="orgDescription"
                           class="form-control"
                           th:field="*{orgDescription}" placeholder="Enter organization description"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('orgDescription')}" th:errors="*{orgDescription}"></div>
                </div>
                <div class="form-group">
                    <label> Organization image</label>
                    <input type="file" name="org_image"
                           class="form-control"
                            accept="image/png, image/jpeg"/>
                </div>
                <div class="form-group">
                    <label> Set organization status(banned/ not banned)</label>
                    <input type="checkbox" name="banned"
                           class="form-control"
                           th:field="*{banned}"/>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>