<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System

    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student management</a>
                <a class="nav-link" th:href="@{/organizations}">Companies</a>
            </li>

        </ul>
    </div>
</nav>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create new product</h1>
            <div class="card-body"> </div>
            <form th:action="@{/products/buffer}" th:object="${product}" method="POST">
                <div class="form-group">
                    <label> Product name</label>
                    <input type="text" name="prod_name"
                           class="form-control"
                           th:field="*{prodName}" placeholder="Enter product name"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('prodName')}" th:errors="*{prodName}"></div>

                </div>

                <div class="form-group">
                    <label> Product description</label>
                    <input type="text" name="prod_description"
                           class="form-control"
                           th:field="*{prodDescription}" placeholder="Enter product description"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('prodDescription')}" th:errors="*{prodDescription}"></div>
                </div>

                <div class="form-group">
                    <label> Select organization </label>
                    <select name="org_name_id">
                        <option  th:each="organization:${org_id_select}" th:value="${organization.orgName}" th:text="${organization.orgName}"></option>
                    </select>
                    <!--<input type="text" name="org_id_select"
                           class="form-control"
                           th:field="*{org_id}" placeholder="Select organization"/>-->
                </div>

                <div class="form-group">
                    <label> Set price </label>
                    <input type="number" name="price"
                           class="form-control"
                           th:field="*{price}" placeholder="157" step="0.01"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

                </div>

                <div class="form-group">
                    <label> Set available item </label>
                    <input type="text" name="in_stock"
                           class="form-control"
                           th:field="*{inStock}" placeholder="Select organization"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('inStock')}" th:errors="*{inStock}"></div>

                </div>

                <div class="form-group">
                    <label> Set keywords </label>
                    <input type="text" name="keywords"
                           class="form-control"
                           th:field="*{keywords}" placeholder="Select organization"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('keywords')}" th:errors="*{keywords}"></div>

                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>