<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>product page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->

    <div th:replace="snippets/navigation.html"></div>

    <!-- Navbar links -->



</nav>

<div class="container">
    <div class="row">
        <h1> List of products </h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/product/new}" class="btn btn-primary btn-sm mb-3">Add product</a>

        </div>
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th> product name</th>
            <th> product description</th>
            <th> product organization</th>
            <th> product price</th>
            <th> product keywords</th>
            <th> product in stock</th>
            <th> product's rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products}">


            <td  >
                <a th:href="@{product/details/{id}(id=${product.id})}"
                   th:text="${product.prodName}" target="_blank" />
            </td>

            <td th:text="${product.prodDescription}"></td>
            <td th:text="${product.orgId.orgName}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.keywords}"></td>
            <td th:text="${product.inStock}"></td>
            <td th:text="${product.rating}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>